<mat-toolbar color="primary" class="side-menu">
  <!-- <button mat-icon-button id="menu" (click)="openNav()">
    <mat-icon>menu</mat-icon>
  </button> -->
  <span>User actions List</span>
 
</mat-toolbar>

<mat-sidenav-container class="example-container">
   
  <mat-sidenav-content>
     <router-outlet></router-outlet>
    <mat-nav-list>
    <a mat-list-item>All Meetings</a>
    <a mat-list-item>Created Meetings</a>
    <a mat-list-item>Invited Meetings</a>
    </mat-nav-list>
  </mat-sidenav-content>

</mat-sidenav-container>